<div class="main-container">
    <div class="images">
        <!-- Left Section -->
        <div class="section">
            <img src="https://us.hawaaclothing.com/cdn/shop/files/olive_2357_8fd63ab2-df2b-4bc3-806f-0bb85f80bc75.jpg?v=1740160086&width=800"
                alt="">
            <div class="content">
                <h3>JERSEY MODAL CHIFFON CRINKLE</h3>
                <h2>ALL HIJABS</h2>
                <button class="btn">SHOP HIJABS</button>
            </div>
        </div>

        <!-- Right Section -->
        <div class="section">
            <img src="https://us.hawaaclothing.com/cdn/shop/files/abaya_3343.jpg?v=1740160099&width=800" alt="">
            <div class="content">
                <h2>ALL ABAYAS</h2>
                <button class="btn">SHOP ABAYAS</button>
            </div>
        </div>
    </div>



    <div class="images">
        <!-- Left Section -->
        <div class="section">
            <img src="https://us.hawaaclothing.com/cdn/shop/files/abaya_3074.jpg?v=1751367427&width=800" alt="">
            <div class="content">
                <h3>JERSEY MODAL CHIFFON CRINKLE</h3>
                <h2>RAMZAN EID</h2>
                <button class="btn">SHOP HIJABS</button>
            </div>
        </div>

        <!-- Right Section -->
        <div class="section">
            <img src="https://us.hawaaclothing.com/cdn/shop/files/FullSizeRender_VSCO_22.jpg?v=1727725854&width=800"
                alt="">
            <div class="content">
                <h2>ALL THOBES</h2>
                <button class="btn">SHOP ABAYAS</button>
            </div>
        </div>
    </div>




    <div class="images">
        <!-- Left Section -->
        <div class="section">
            <img src="https://us.hawaaclothing.com/cdn/shop/files/abaya_3162.jpg?v=1740159948&width=800" alt="">
            <div class="content">
                <h3>JERSEY MODAL CHIFFON CRINKLE</h3>
                <h2>OPEN ABAYAS</h2>
                <button class="btn">SHOP HIJABS</button>
            </div>
        </div>

        <!-- Right Section -->
        <div class="section">
            <img src="https://us.hawaaclothing.com/cdn/shop/files/chiffonblack_3607.jpg?v=1742143240&width=800" alt="">
            <div class="content">
                <h2>LAST CHANCE TO BUY</h2>
                <button class="btn">SHOP ABAYAS</button>
            </div>
        </div>
    </div>

</div>

<div class="line"></div>