<div class="container">
    <div class="hijab">
        <p>HIJAB COLLECTION</p>
    </div>

    <div class="model">
        <p>MODAL HIJAB
            COTTON JERSEY</p>
    </div>
    <div class="line"></div>
   <div class="image-slider">
  <div class="image-slider-track">

    <div class="product-card">
      <img src="https://us.hawaaclothing.com/cdn/shop/files/23-06-Hawaa3037_de3b2eea-c20c-4dca-bbba-765448f80a9c.jpg?v=1752773003&width=300" alt="">
      <h3>BLACK MODAL HIJAB</h3>
      <p>FROM $14.00</p>
      <span class="rating">★★★★★ <small>(4.7)</small></span>
    </div>

    <div class="product-card">
      <img src="https://us.hawaaclothing.com/cdn/shop/files/Brown_1595.jpg?v=1746011555&width=300" alt="">
      <h3>THYME MODAL HIJAB</h3>
      <p>FROM $14.00</p>
      <span class="rating">★★★★★ <small>(4.7)</small></span>
    </div>

    <div class="product-card">
      <img src="https://us.hawaaclothing.com/cdn/shop/files/571A9114_942e4f00-5b15-4d68-8bee-9e0ffd7c1cc7.jpg?v=1751042370&width=300" alt="">
      <h3>NAVY MODAL HIJAB</h3>
      <p>FROM $14.00</p>
      <span class="rating">★★★★★ <small>(4.7)</small></span>
    </div>

    <div class="product-card">
      <img src="https://us.hawaaclothing.com/cdn/shop/files/23-06-Hawaa2927_5557a260-f68d-42d7-99d8-8f3311fba37a.jpg?v=1752772997&width=300" alt="">
      <h3>SMOKE MODAL HIJAB</h3>
      <p>FROM $14.00</p>
      <span class="rating">★★★★★ <small>(4.7)</small></span>
    </div>

    <div class="product-card">
      <img src="https://us.hawaaclothing.com/cdn/shop/files/571A9042_fe4f4d83-1922-4888-b707-98b8a334d20b.jpg?v=1746011493&width=300" alt="">
      <h3>BROWN MODAL HIJAB</h3>
      <p>FROM $14.00</p>
      <span class="rating">★★★★★ <small>(4.7)</small></span>
    </div>

    <div class="product-card">
      <img src="https://us.hawaaclothing.com/cdn/shop/files/Navy_1773_762a0bb9-5b63-4f4c-ad68-0760c88098a7.jpg?v=1746011655&width=300" alt="">
      <h3>CLASSIC NAVY HIJAB</h3>
      <p>FROM $14.00</p>
      <span class="rating">★★★★★ <small>(4.7)</small></span>
    </div>

    <div class="product-card">
      <img src="https://us.hawaaclothing.com/cdn/shop/files/Smoke_1917.jpg?v=1746011547&width=300" alt="">
      <h3>SMOKE GREY HIJAB</h3>
      <p>FROM $14.00</p>
      <span class="rating">★★★★★ <small>(4.7)</small></span>
    </div>

    <div class="product-card">
      <img src="https://us.hawaaclothing.com/cdn/shop/files/571A9005_4d29cb1d-f3c6-4edc-aea5-19b79a021e64.jpg?v=1746011536&width=300" alt="">
      <h3>MODERN BEIGE HIJAB</h3>
      <p>FROM $14.00</p>
      <span class="rating">★★★★★ <small>(4.7)</small></span>
    </div>

    <div class="product-card">
      <img src="https://us.hawaaclothing.com/cdn/shop/files/Brown_1595.jpg?v=1746011555&width=300" alt="">
      <h3>THYME MODAL HIJAB</h3>
      <p>FROM $14.00</p>
      <span class="rating">★★★★★ <small>(4.7)</small></span>
    </div>

    <div class="product-card">
      <img src="https://us.hawaaclothing.com/cdn/shop/files/571A9114_942e4f00-5b15-4d68-8bee-9e0ffd7c1cc7.jpg?v=1751042370&width=300" alt="">
      <h3>NAVY MODAL HIJAB</h3>
      <p>FROM $14.00</p>
      <span class="rating">★★★★★ <small>(4.7)</small></span>
    </div>

    <div class="product-card">
      <img src="https://us.hawaaclothing.com/cdn/shop/files/23-06-Hawaa2927_5557a260-f68d-42d7-99d8-8f3311fba37a.jpg?v=1752772997&width=300" alt="">
      <h3>SMOKE MODAL HIJAB</h3>
      <p>FROM $14.00</p>
      <span class="rating">★★★★★ <small>(4.7)</small></span>
    </div>

    <div class="product-card">
      <img src="https://us.hawaaclothing.com/cdn/shop/files/571A9042_fe4f4d83-1922-4888-b707-98b8a334d20b.jpg?v=1746011493&width=300" alt="">
      <h3>BROWN MODAL HIJAB</h3>
      <p>FROM $14.00</p>
      <span class="rating">★★★★★ <small>(4.7)</small></span>
    </div>

    <div class="product-card">
      <img src="https://us.hawaaclothing.com/cdn/shop/files/Navy_1773_762a0bb9-5b63-4f4c-ad68-0760c88098a7.jpg?v=1746011655&width=300" alt="">
      <h3>CLASSIC NAVY HIJAB</h3>
      <p>FROM $14.00</p>
      <span class="rating">★★★★★ <small>(4.7)</small></span>
    </div>

    <div class="product-card">
      <img src="https://us.hawaaclothing.com/cdn/shop/files/Smoke_1917.jpg?v=1746011547&width=300" alt="">
      <h3>SMOKE GREY HIJAB</h3>
      <p>FROM $14.00</p>
      <span class="rating">★★★★★ <small>(4.7)</small></span>
    </div>

    <div class="product-card">
      <img src="https://us.hawaaclothing.com/cdn/shop/files/571A9005_4d29cb1d-f3c6-4edc-aea5-19b79a021e64.jpg?v=1746011536&width=300" alt="">
      <h3>MODERN BEIGE HIJAB</h3>
      <p>FROM $14.00</p>
      <span class="rating">★★★★★ <small>(4.7)</small></span>
    </div>

    <div class="product-card">
      <img src="https://us.hawaaclothing.com/cdn/shop/files/Brown_1595.jpg?v=1746011555&width=300" alt="">
      <h3>THYME MODAL HIJAB</h3>
      <p>FROM $14.00</p>
      <span class="rating">★★★★★ <small>(4.7)</small></span>
    </div>

    <div class="product-card">
      <img src="https://us.hawaaclothing.com/cdn/shop/files/571A9114_942e4f00-5b15-4d68-8bee-9e0ffd7c1cc7.jpg?v=1751042370&width=300" alt="">
      <h3>NAVY MODAL HIJAB</h3>
      <p>FROM $14.00</p>
      <span class="rating">★★★★★ <small>(4.7)</small></span>
    </div>

    <div class="product-card">
      <img src="https://us.hawaaclothing.com/cdn/shop/files/23-06-Hawaa2927_5557a260-f68d-42d7-99d8-8f3311fba37a.jpg?v=1752772997&width=300" alt="">
      <h3>SMOKE MODAL HIJAB</h3>
      <p>FROM $14.00</p>
      <span class="rating">★★★★★ <small>(4.7)</small></span>
    </div>

    <div class="product-card">
      <img src="https://us.hawaaclothing.com/cdn/shop/files/571A9042_fe4f4d83-1922-4888-b707-98b8a334d20b.jpg?v=1746011493&width=300" alt="">
      <h3>BROWN MODAL HIJAB</h3>
      <p>FROM $14.00</p>
      <span class="rating">★★★★★ <small>(4.7)</small></span>
    </div>

    <div class="product-card">
      <img src="https://us.hawaaclothing.com/cdn/shop/files/Navy_1773_762a0bb9-5b63-4f4c-ad68-0760c88098a7.jpg?v=1746011655&width=300" alt="">
      <h3>CLASSIC NAVY HIJAB</h3>
      <p>FROM $14.00</p>
      <span class="rating">★★★★★ <small>(4.7)</small></span>
    </div>

    <div class="product-card">
      <img src="https://us.hawaaclothing.com/cdn/shop/files/Smoke_1917.jpg?v=1746011547&width=300" alt="">
      <h3>SMOKE GREY HIJAB</h3>
      <p>FROM $14.00</p>
      <span class="rating">★★★★★ <small>(4.7)</small></span>
    </div>

    <div class="product-card">
      <img src="https://us.hawaaclothing.com/cdn/shop/files/571A9005_4d29cb1d-f3c6-4edc-aea5-19b79a021e64.jpg?v=1746011536&width=300" alt="">
      <h3>MODERN BEIGE HIJAB</h3>
      <p>FROM $14.00</p>
      <span class="rating">★★★★★ <small>(4.7)</small></span>
    </div>

  </div>
</div>

<button class="btn"  routerLink="/arival"> VIEW ALL
</button>
</div>