<div class="main-container">
    <div class="hijab">
        <p>Abaya COLLECTION</p>
    </div>

    <div class="model">
        <p>MODAL ABAYA
            COTTON JERSEY</p>
    </div>
    <div class="line"></div>
    <div class="product-grid">
        <div class="product-card">
            <div class="badge">SALE</div>
            <img src="https://cdn.shopify.com/s/files/1/0400/6998/8502/files/AB_68_3812_360x.jpg?v=1719765929"
                alt="Product">
            <div class="product-info">
                <div class="price">
                    <span class="old-price">$79.00</span>
                    <span class="new-price">$22.00</span>
                </div>
                <h3 class="product-title">100% Cotton TROUSER ONLY - Warm Taupe</h3>
            </div>
        </div>

        <div class="product-card">
            <img src="https://cdn.shopify.com/s/files/1/0400/6998/8502/files/AB_58_044_f0353bd2-e019-480a-8e90-d00ffc9fcbf9_360x.jpg?v=1740946844"
                alt="Product">
            <div class="product-info">
                <div class="price">
                    <span class="new-price">$101.00</span>
                </div>
                <h3 class="product-title">Abaya With Frill Detailed Khimar Set - Black</h3>
            </div>
        </div>

        <div class="product-card">
            <img src="https://cdn.shopify.com/s/files/1/0400/6998/8502/files/AB_57_045_360x.jpg?v=1740946258"
                alt="Product">
            <div class="product-info">
                <div class="price">
                    <span class="new-price">$52.00</span>
                </div>
                <h3 class="product-title">Abaya With Frill Detailed Khimar Set - Black</h3>
            </div>
        </div>

        <div class="product-card">
            <img src="https://cdn.shopify.com/s/files/1/0400/6998/8502/files/AB41-016_7d15170f-1b82-46c6-bd2a-9b1b150bf1d4_360x.jpg?v=1705263884"
                alt="Product">
            <div class="product-info">
                <div class="price">
                    <span class="new-price">$65.00</span>
                </div>
                <h3 class="product-title">Abaya With Frill Detailed Khimar Set - Black</h3>
            </div>
        </div>
    </div>

    <!-- second row -->

    <div class="product-grid">
        <div class="product-card">
            <img src="https://cdn.shopify.com/s/files/1/0400/6998/8502/files/AB09-016_e11014e8-3f5b-4b88-8d68-e2135d2adadc_360x.jpg?v=1705250172"
                alt="Product">
            <div class="product-info">
                <div class="price">
                    <span class="old-price">$79.00</span>
                    <span class="new-price">$22.00</span>
                </div>
                <h3 class="product-title">100% Cotton TROUSER ONLY - Warm Taupe</h3>
            </div>
        </div>

        <div class="product-card">
            <img src="https://cdn.shopify.com/s/files/1/0400/6998/8502/files/AB_20_053_402675c4-3664-46ff-915f-41514fa7d082_1512x.jpg?v=1748012153"
                alt="Product">
            <div class="product-info">
                <div class="price">
                    <span class="new-price">$64.00</span>
                </div>
                <h3 class="product-title">Abaya With Frill Detailed Khimar Set - Black</h3>
            </div>
        </div>

        <div class="product-card">
            <img src="https://cdn.shopify.com/s/files/1/0400/6998/8502/files/AB07-006_149c4fb4-3b4d-44e7-8d64-ee0607cca4fb_360x.jpg?v=1705658413"
                alt="Product">
            <div class="product-info">
                <div class="price">
                    <span class="new-price">$85.00</span>
                </div>
                <h3 class="product-title">Abaya With Frill Detailed Khimar Set - Black</h3>
            </div>
        </div>

        <div class="product-card">
            <img src="https://cdn.shopify.com/s/files/1/0400/6998/8502/files/AB_64_038_3cd785d8-451e-402c-9f5d-4d759586198b_360x.jpg?v=1717365468"
                alt="Product">
            <div class="product-info">
                <div class="price">
                    <span class="new-price">$45.00</span>
                </div>
                <h3 class="product-title">Abaya With Frill Detailed Khimar Set - Black</h3>
            </div>
        </div>
    </div>

    <!-- third row -->

    <div class="product-grid">
        <div class="product-card">
            <img src="https://cdn.shopify.com/s/files/1/0400/6998/8502/files/AB_49_067_1512x.jpg?v=1740270774"
                alt="Product">
            <div class="product-info">
                <div class="price">
                    <span class="old-price">$65.00</span>
                    <span class="new-price">$12.00</span>
                </div>
                <h3 class="product-title">100% Cotton TROUSER ONLY - Warm Taupe</h3>
            </div>
        </div>

        <div class="product-card">
            <div class="badge">SALE</div>
            <img src="https://cdn.shopify.com/s/files/1/0400/6998/8502/products/AB25-005_97cbe631-41aa-4a6a-a033-324936785ea0_1512x.jpg?v=1648412068"
                alt="Product">
            <div class="product-info">
                <div class="price">
                    <span class="new-price">$35.00</span>
                </div>
                <h3 class="product-title">Abaya With Frill Detailed Khimar Set - Black</h3>
            </div>
        </div>

        <div class="product-card">
            <img src="https://cdn.shopify.com/s/files/1/0400/6998/8502/files/AB_36_038_48726d7b-6134-4143-a79d-392df2ccbdc0_1512x.jpg?v=1742128434"
                alt="Product">
            <div class="product-info">
                <div class="price">
                    <span class="new-price">$74.00</span>
                </div>
                <h3 class="product-title">Abaya With Frill Detailed Khimar Set - Black</h3>
            </div>
        </div>

        <div class="product-card">
            <img src="https://cdn.shopify.com/s/files/1/0400/6998/8502/products/AB38-009_04794b41-3b88-4197-94e3-2ae0fd259d03_1512x.jpg?v=1668366457"
                alt="Product">
            <div class="product-info">
                <div class="price">
                    <span class="new-price">$65.00</span>
                </div>
                <h3 class="product-title">Abaya With Frill Detailed Khimar Set - Black</h3>
            </div>
        </div>
    </div>

    <!-- fourth row -->
    <div class="product-grid">
        <div class="product-card">
            <img src="https://cdn.shopify.com/s/files/1/0400/6998/8502/files/AB_44_036_360x.jpg?v=1705263781"
                alt="Product">
            <div class="product-info">
                <div class="price">
                    <span class="old-price">$79.00</span>
                    <span class="new-price">$22.00</span>
                </div>
                <h3 class="product-title">100% Cotton TROUSER ONLY - Warm Taupe</h3>
            </div>
        </div>

        <div class="product-card">
            <img src="https://cdn.shopify.com/s/files/1/0400/6998/8502/files/AB_46_067_360x.jpg?v=1740270801"
                alt="Product">
            <div class="product-info">
                <div class="price">
                    <span class="new-price">$64.00</span>
                </div>
                <h3 class="product-title">Abaya With Frill Detailed Khimar Set - Black</h3>
            </div>
        </div>

        <div class="product-card">
            <img src="https://cdn.shopify.com/s/files/1/0400/6998/8502/files/AB_28_040_becaef85-94d4-4d11-90dc-1e8cef3a3ecf_360x.jpg?v=1752249023"
                alt="Product">
            <div class="product-info">
                <div class="price">
                    <span class="new-price">$85.00</span>
                </div>
                <h3 class="product-title">Abaya With Frill Detailed Khimar Set - Black</h3>
            </div>
        </div>

        <div class="product-card">
            <img src="https://cdn.shopify.com/s/files/1/0400/6998/8502/files/AB_43_036_360x.jpg?v=1705263764"
                alt="Product">
            <div class="product-info">
                <div class="price">
                    <span class="new-price">$45.00</span>
                </div>
                <h3 class="product-title">Abaya With Frill Detailed Khimar Set - Black</h3>
            </div>
        
</div>
        </div>
    </div>

      <button class="btn"  routerLink="/abayas"> VIEW ALL
</button>

<div class="line"></div>